/* reset css */
*{margin: 0; padding: 0; box-sizing: border-box;}
a{text-decoration: none; color: #fff;}
body {
    background: #000; 
    color: #ffff;
    max-width: 100%; 
}

/* stile navbar */
nav{position: relative;}

nav {min-height: 90px;}
.logo {width: 100px; height: 50px;}
.user-img{height: 50px;}

@media screen and (max-width:991px) {
    .right-block {
        position: absolute;
        right: 90px; top: 15px;
    }
}

.user-dropdown.show {
    position: absolute;
    right: 10px;
}

.navbar-items a:hover {
    color: #fff; 
    opacity: 1 !important;
    transition: all 0.8s cubic-bezier(.215, .61, .355, 1);
}

.dropdown-menu{
    position: absolute;
    transform: translateX(-100px);
}

/* section title */
.drop-genres{
    position: absolute;
    transform: translate(-40px, 10px);
}

/* quadrati laterali */

.btn-check:checked+.btn {
    background-color: rgba(255, 255, 255, 0.468);
}

/* caroselli */
.img-size{transition: all 1s cubic-bezier(.215, .61, .355, 1);}
.img-size:hover{transform: scale(1.1);}


.scroll {
    opacity: 0;
}

.carousel-visible {
    animation-name: fade;
    animation-duration: 3s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

@keyframes fade {
    0% {
        opacity: 0;
        scale: .8;
    }
    50% {
        scale: 1.02;
    }
    100% {
        opacity: 1;
        scale: 1;
    }
}




/* footer */
.social-icon{
    width: 40px; height: 80px;
}

